<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'log.css' %}">
</head>
<body>
    <div class="container login1">
        <form action="{% url '3rd' %}" method="get" id="myform">
            <h1>Login</h1>
            <div class="input">
                <label for="">E-Mail*</label>
                <input type="email" name="" id="email">
                <span id="emailerror"></span>
            </div>
            <div class="input">
                <label for="">Password*</label>
                <input type="password" name="" id="pwd">
                <span id="passerror"></span>
            </div>
            <button onclick="return log_validate()">Login</button>
        </form>
    </div>

    <script src="{% static 'logg.js' %}"></script>
</body>
</html>